.under-dev{
  background: linear-gradient(to bottom, rgb(167,163,126), rgb(230,226,175));
  color:white;
  border: 1px black solid;
  width:30vw;
  height:20vh;
  text-align: center;
  padding-top: 10vh;
  font: serif;
  font-size: 32px;
  font-weight: bold;
  margin: auto;
}
